<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IArmService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_INfcService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
   <client>
            <endpoint address="http://192.168.24.191/Test/HISService/ArmService.svcc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IArmService" contract="ArmServiceReference.IArmService"
                name="WSHttpBinding_IArmService">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="http://192.168.24.191/Test/HISService/NfcService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_INfcService" contract="NfcServiceReference.INfcService"
                name="WSHttpBinding_INfcService">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
          </client>

</system.serviceModel>
</configuration>
