<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OPDAPP.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--===================================================桃園醫院=====================================================-->
    <add key="wcfdomain" value="192.168.11.61" />
    <add key="wcfusername" value="Administrator" />
    <add key="wcfpassword" value="reg@0415" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--cleint端暫存的資料夾-->
    <add key="TempFile" value="C:\TempFile\" />
    <!--cleint端暫存的IPASS資料夾-->
    <add key="IPSFile" value="C:\kmuh\iPASS\" />
    <!--最大日期設"2910/12/31",因應最大的民國年"999/12/31"的關係-->
    <add key="maxDefaultDate" value="2910/12/31" />
    <!--影像資料設定-->
    <add key="Working_FilePath" value="C:\TempFile\" />
    <!--逆時針90度  順時針90度  順時針180度  不旋轉-->
    <add key="Default_Rotation" value="逆時針90度" />
    <!--檔案系統八碼，如果是 EMR 系統，這裡填入八碼病歷號 -->
    <add key="FileSystem_Type" value="HEMFilUP" />
    <!--起啟之截取影像縮放比例-->
    <add key="Init_EnLarge" value="70%" />
    <!-- 判斷院區(TRUE:衛服部桃園醫院；FALSE：分院)-->
    <add key="general" value="TRUE" />
    <!-- 判斷DateTimePicker預設顯示(TRUE:西元年；FALSE：民國年)-->
    <add key="isDefaultDisplayUS" value="FALSE" />
    <!-- 判斷桃園醫院環境(0：正式機 1：測試機 2：開發機 3：展示機 4：建檔機 5：模擬機)-->
    <add key="Hospital_version_TYH" value="5"/>
      <!-- LibreOffice位置-->
    <add key="LibreOffice_Location" value="C:\Program Files (x86)\LibreOffice 5\program\soffice.exe"/>
    
    <!--=============================發版記得改=============================-->
    <!-- 八里療養院--><!--
    <add key="Hosp_Code" value="BLP"/>
    --><!-- 胸腔病院--><!--
    <add key="Hosp_Code" value="CCD"/>
    --><!-- 嘉南療養院--><!--
    <add key="Hosp_Code" value="CNP"/>
    --><!-- 旗山醫院--><!--
    <add key="Hosp_Code" value="CSH"/>
    --><!-- 彰化醫院--><!--
    <add key="Hosp_Code" value="CWH"/>
    --><!-- 嘉義醫院--><!--
    <add key="Hosp_Code" value="CYH"/>
    --><!-- 豐原醫院--><!--
    <add key="Hosp_Code" value="FYH"/>
    --><!-- 恆春醫院--><!--
    <add key="Hosp_Code" value="HCH"/>
    --><!-- 花蓮醫院--><!--
    <add key="Hosp_Code" value="HWH"/>
    --><!-- 基隆醫院--><!--
    <add key="Hosp_Code" value="KLH"/>
    --><!-- 金門醫院--><!--
    <add key="Hosp_Code" value="KMH"/>
    --><!-- 樂生療養院--><!--
    <add key="Hosp_Code" value="LSP"/>
    --><!-- 苗栗醫院--><!--
    <add key="Hosp_Code" value="MLH"/>
    --><!-- 南投醫院--><!--
    <add key="Hosp_Code" value="NTH"/>
    --><!-- 澎湖醫院--><!--
    <add key="Hosp_Code" value="PHH"/>
    --><!-- 屏東醫院--><!--
    <add key="Hosp_Code" value="PTH"/>
    --><!-- 朴子醫院--><!--
    <add key="Hosp_Code" value="PZH"/>
    --><!-- 桃園醫院新屋分院代碼--><!--
    <add key="Hosp_Code" value="SWH"/>
    --><!-- 新營醫院--><!--
    <add key="Hosp_Code" value="SYH"/>
    --><!-- 臺中醫院--><!--
    <add key="Hosp_Code" value="TCH"/>
    --><!-- 臺南醫院--><!-- -->
    <add key="Hosp_Code" value="TNH"/>
   <!-- 臺北醫院--><!--
    <add key="Hosp_Code" value="TPH"/>-->
    <!-- 臺東醫院--><!--
    <add key="Hosp_Code" value="TTH"/>
    --><!-- 草屯療養院--><!--
    <add key="Hosp_Code" value="TTP"/>-->
    <!-- 桃園醫院-->
    <!--<add key="Hosp_Code" value="TYH"/>-->
    <!-- 桃園療養院--><!--
    <add key="Hosp_Code" value="TYP"/>
    --><!-- 玉里醫院--><!--
    <add key="Hosp_Code" value="YLH"/>
    --><!-- 醫管會--><!--
    <add key="Hosp_Code" value="HWA"/>
    --><!-- 履約輔導小組--><!--
    <add key="Hosp_Code" value="CTG"/>-->
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- 這個區段定義 My.Application.Log 的記錄組態-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    
    <!--本機-->
    <!--<bindings configSource="bindings.config" />
    <client configSource="client-Local.config" />-->
   
    <!--開發機 Start-->
    <!--syscom 台北醫院開發機 In -->
    <!--<bindings configSource="bindings.config" />
        <client configSource="client_TPH_SyscomDev_In.config" />-->

    <!--sycom-台南醫院開發機 In-->
    <!--<bindings configSource="bindings.config" />
        <client configSource="client_TNH_SyscomDev_In.config" />-->
    
    <!--開發機 End-->

    <!--測試機 Start-->

    <!--sycom-台北醫院測試機-->
    <!--<bindings configSource="bindings.config" />
        <client configSource="client_TPH_SyscomTest_In.config" />-->
    
    <!--測試機 End-->

    <!--模擬機 Start-->
    <!--sycom-台北醫院模擬機-->
    <!--<bindings configSource="bindings.config" />
        <client configSource="client_TPH_SyscomSL_In.config" />-->

    <!--sycom-台中醫院模擬機-->
    <!--<bindings configSource="bindings.config" />
        <client configSource="client_TCH_SyscomSL_In.config" />-->

    <!--sycom-台南醫院模擬機-->
     <!--<bindings configSource="bindings.config" />
        <client configSource="client_TNH_SyscomSL_In.config" />-->
    
    <!--模擬機 End-->

    <!--sycom-台北醫院測試機 192.168.24.191-->
    <bindings configSource="bindings.config" />
        <client configSource="client_TPH_Test_In.config" />
    

  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>-->
  <applicationSettings>
    <OPDAPP.Settings>
      <setting name="debug" serializeAs="String">
        <value>N</value>
      </setting>
    </OPDAPP.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>